<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
	<div>

		<div style="width=100%;text-align:center"><h1>FIFA Players Database</h1></div>
		<div style="width=100%">
			<h3><a href='/'>Database Search</a></h3>
			<h3><a href='/sortbot'>Sortbot</a></h3>
		</div>

		<form method="GET" action="/compute_chemistry">
			<div> LB: <input type="text" name="LB"> </div>
			<div> CB: <input type="text" name="CB1"> </div>
			<div> CB: <input type="text" name="CB2"> </div>
			<div> RB: <input type="text" name="RB"> </div>
			<div> CDM: <input type="text" name="CDM"> </div>
			<div> CM: <input type="text" name="CM1"> </div>
			<div> CM: <input type="text" name="CM2"> </div>
			<div> LW: <input type="text" name="LW"> </div>
			<div> RW: <input type="text" name="RW"> </div>
			<div> ST: <input type="text" name="ST"> </div>
			<div> <input type="submit" value="Submit"></div>
		</form>
	</div>
	
	<div>
		<h2>Team Chemistry: {{data[1]}}</h2>
		<table width="100%">
			<tr style="font-weight:bold;">
				<td>Name</td>
				<td>Position</td>
				<td>Preferred Position</td>
				<td>Club</td>
				<td>League</td>
				<td>Nationality</td>
				<td>Chemistry</td>
			<tr> 
    			{% for t in data[0] %}
			<tr>
				{% for i in t %}
					<td>{{i}}</td>
				{% endfor %}
			</tr>
    			{% endfor %}
  		</table>
	</div>


</body>


</html>
