<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>FIFA Database</h1>

  <table>
    {% for t in data %}
	<tr>
		{% for i in t %}
			<td>{{i}}</td>
		{% endfor %}
	</tr>
    {% endfor %}
  </table>

<p><a href="chemistry">Go to chemistry tool</a></p>
<p><a href="sortbot">Go to sortbot</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
